# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/
build/
dist/

# Misc
.DS_Store
*.log
*.lock
*.cache
*.tmp
*.swp
*.swo
*.bak
*.orig
*.rej
*.sublime-project
*.sublime-workspace
.idea/
.vscode/
*.iml
